<app-header></app-header>
<div class="wrapper">
  <div class="orderCancelled">
    <div><img class="icon_orderCancelled" src="assets/images/icon_orderCancelled.png" alt="訂單資料已註銷，請重新進行下單"></div>
    <div class="Cff736a my-2" *ngIf="data as data; else elseTmpl">交易編號： {{ data[0].orderMainSeq }}</div>
      <ng-template #elseTmpl>
        <div>系統錯誤</div>
      </ng-template>
      <div>此交易已失效<br>請洽您的服務理專重新規劃，謝謝。</div>
  </div>
</div>
