<app-header></app-header>
<div class="wrapper">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="authentication_input">
      <div class="row">
        <div class="col-12">
          <h5>客戶身分證字號</h5>
          <div class="form-group">
            <h4>{{custId | uppercase}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>語音密碼</h5>
          <div class="form-group">
            <input formControlName="mima" type="password" placeholder="請輸入語音密碼" autocomplete="off" required
              style="font-size: 24px" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="btnConfirm">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-block" type="submit" role="button" style="width: 100%;">確定</button>
        </div>
      </div>
    </div>
  </form>
</div>
