.form-control {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  color: #1E1E1E;
  border: none;
  border-bottom: 1px solid #BBBBBB;
  border-radius: 0;
  padding-bottom: 0;
}

.form-control:focus {
  color: #1E1E1E;
  border-color: #BBBBBB;
  outline: 0;
  box-shadow: none;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 5px;
}

h5 {
  margin-top: 10px;
  font-size: 18px;
  color: #888889;
  font-weight: 500;
}

label {
  margin-bottom: 20px;
}

.btnConfirm {
  margin-top: 20px;
}

/*.inputkeyboards{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.inputkeyboards img{
  width: 100%;
}*/
