input[type=checkbox]:not(old), input[type=radio]:not(old){
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	position: absolute;
}
input[type=checkbox]:not(old) + label, input[type=radio]:not(old) + label{
	display: inline-block;
	padding-left: 20px;
	height: 20px;
}
input[type=checkbox]:not(old) + label{
	background: url("../images/checkBox_W.png") no-repeat center center;
	background-size: 20px;
}
input[type=checkbox]:not(old):disabled + label{
	background: url("../images/checkBox_disable.png") no-repeat center center;
	background-size: 20px;
}
input[type=checkbox]:not(old):checked + label{
	background: url("../images/checkBox_WOK.png") no-repeat center center;
	background-size: 20px;
}
.signCheckbox input[type=checkbox]:not(old), .signCheckbox input[type=radio]:not(old){
	width: 40px;
	height: 20px;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	position: absolute;
}
.signCheckbox input[type=checkbox]:not(old), .signCheckbox input[type=radio]:not(old){
	display: inline-block;
	padding-left: 0px;
	height: 20px;
}
.signCheckbox input[type=checkbox]:not(old) + label, .signCheckbox input[type=radio]:not(old) + label{
	background: url("../images/checkBox_K.png") no-repeat center center;
	background-size: 20px;
}
.signCheckbox input[type=checkbox]:not(old):checked + label, .signCheckbox input[type=radio]:not(old):checked + label{
	background: url("../images/checkBox_KOK.png") no-repeat center center;
	background-size: 20px;
}
.signCheckbox input[type=checkbox]:not(old):disabled + label{
	background: url("../images/checkBox_disable.png") no-repeat center center;
	background-size: 20px;
}
.waitStatus{
	margin-top:20px;
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
	color: #D70E19;
}
.waitStatus::before{
	content: "";
	width: 100%;
	height: 1px;
	top: 11px;
	left: 0;
	background-color: #D70E19;
	position: absolute;
}
.waitStatus::after{
	content: "主管照會覆核中";
	width: 120px;
	height: 20px;
	left: calc(50% - 60px);
	background-color: #fff;
	position: absolute;

}

/*customerInformation 基本資料*/
.customerInformation{
	margin-top: 20px;
	padding-left: 10px;
	font-weight: 500;
}
.customerInformation div{
	padding-top: 1px;
	padding-bottom: 1px;
}
.totalTransactions{
	margin-top: 10px;
	padding-left: 25px;
}
.totalTransactions span{
	font-size: 18px;
	color: #D70E19;
	font-weight: 500;
	padding: 0 5px;
}

/*orderTitle 明細標題*/
.orderTitle{
	padding: 5px 12px;
	margin-top: 20px;
	background-color: #888889;
	border-radius: 5px;
}
.orderTitle:first-of-type{
	margin-top: 5px;
}
.form-check{
	height: 20px;
	padding-left: 16px;
	padding-top: 1px;
}	
.TxtCategory{
	font-size: 15px;
	color: #ffffff;
	font-weight: 500;
}
.TxtCategory span{
	font-size: 1em;
	color: #ffffff;
	font-weight: 500;
	line-height: 20px;
}

/*orderContent 明細項目*/
.orderContent, .spProblemContent{
	padding: 10px;
	margin-top: 5px;
	border:solid 2px #D8D8D8;
	border-radius: 8px;
}
.spProblemContent{
	margin-top: 10px;
}
.Q1, .A1{  
	display: table-cell; 
} 
.Q1 div, .A1 div{
	padding-top: 1px;
	padding-bottom: 1px;
}
.confirmPage_hr{
	margin: 10px 0px;
	background-color: #888889;
}
.spProblem{
	padding-right: 5px;
	text-align: justify;
}
.Ayes{
	padding: 0 10px;
}
.Ano{
	padding: 0 10px;
}
.w25{
	width: 60px;
}
.spProblem label{
	margin-left: 5px;
}
/*tbdRisk 條約書標題選項*/
.tbdRisk{
	margin-top: 10px;
}
.tbdTitle1, .tbdTitle2, .tbdTitle3{
	font-size: 16px;
	font-weight: 500;
	color: #D70E19;
}
.tbdTitle2{
	width: 50px;
	text-align: center;
}
.tbdTitle3{
	width: 40px;
	text-align: center;
}
.tbdTitle_UnderLine{
	border-bottom: 1px solid #888889;
	margin: 5px 0 0 0;
}
.signGroup .sign:not(:last-child){
	border-bottom: 1px dashed #888889;
	margin: 0;
}
.sign{
	padding: 10px 0;
	margin: 0;
}
.signList{
	padding: 0;
}
.signList_title{
	padding-left: 5px;
	text-align: justify;
	width: 100%;
	cursor: pointer;
}
.signList_title a:hover{
	color: #1E1E1E;
	text-decoration: none;
}
.signTriangl{
	margin-right: 10px;
}
.sign img{
	width: 10px;
}
.signCheckbox{
	text-align: center;
    padding-left: 0px;
}
.signCheck1{
	padding: 0 15px;
}
.signCheck2{
	padding: 0 10px;
}
.timeCountdown{
	width: 50px;
	padding-left: 10px;
}
.CountdownNum{
	width: 25px;
	height: 25px;
	text-align: center;
	color: #D70E19;
	border: 1px solid #D70E19;
	border-radius: 50% 50%;
	font-weight: 500;
	display: none;
}
/* .sign{
	padding: 0px 15px;
} */
.signListTitle{
	padding: 3px 10px;
	margin-top: 5px;
	background-color: #D70E19;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}
.agreement{
	padding: 10px;
	border: 1px solid #D70E19;
	border-radius: 8px;
	margin: 5px 0 10px 0;
	display: none;
}
.agreement_contant{
	padding: 0;
}
.agreement ul li{
	margin-left: 20px;
	text-align: justify;
	list-style-type: decimal;
}
.agreement h6{
	font-size: 14px;
}
.signGroup:last-of-type{
	margin-bottom: 20px;
}
/*.agreement{
	padding: 10px;
	border: 1px solid #D70E19;
	border-radius: 8px;
	margin: 8px 0 0px 0;
	display: none;
}
.agreement_contant{
	padding: 0;
}
.agreement ul li{
	margin-left: 20px;
	text-align: justify;
	list-style-type: decimal;
}
.agreement h6{
	font-size: 14px;
}*/

/*warningTxt*/
.warningTxt *{
	color: #787878;
	/* padding-top: 5px; */
	    vertical-align: middle;
}

/*下單按鈕*/
.btnOrder{
  	margin: 20px 0px;
  	padding: 0;
}
.btnOrder div{
	padding: 0;
}

/*@media (max-width: 320px){}
*/
