.wrapper{
  padding: 62px 10px 10px 10px;
  overflow: hidden;
}
/*orderResult 基本資料*/
h5{
	font-size: 20px;
	color: #D70E19;
	text-align: center;
	font-weight: 500;
	margin-top: 15px;
}
.customerInformation{
	margin-top: 10px;
	padding-left: 10px;
	font-weight: 500;
}
.customerInformation div{
	padding-top: 1px;
	padding-bottom: 1px;
}
.totalTransactions{
	margin-top: 10px;
	padding-left: 25px;
}
.totalTransactions span{
	font-size: 18px;
	color: #D70E19;
	font-weight: 500;
	padding: 0 5px;
}

/*orderResult*/
.orderResult{
	border-radius: 8px;
	background-color: #FFEAE9;
	padding: 10px;
	position: relative;
	margin-top: 30px;
}
.orderResult:before{
	content: "";
	background-color: #D70E19;
	padding: 3px 10px 5px 10px;
	border-radius: 8px 8px 0 0;
	position: absolute;
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
}
.orderResult:first-of-type{
	margin-top: 5px;
}
.TxtCategoryL, .TxtCategoryR{
	color: #fff;
	font-weight: 500;
	line-height: 30px;
	font-size: 15px;
	position: absolute;
	top: 0;
}
.TxtCategoryR{
	right: 0;
}
.TxtCategoryR span{
	color: #fff;
}
.orderContent{
	margin-top: 30px;
}
.sign{
	padding: 0px 15px;
}
.signListTitle{
	padding: 3px 10px;
	margin-top: 5px;
	background-color: #D70E19;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}
.agreement{
	padding: 10px;
	border: 1px solid #D70E19;
	border-radius: 8px;
	margin: 5px 0 10px 0;
	display: none;
}
.agreement_contant{
	padding: 0;
}
.agreement ul li{
	margin-left: 20px;
	text-align: justify;
	list-style-type: decimal;
}
.agreement h6{
	font-size: 14px;
}
.signGroup:last-of-type{
	margin-bottom: 20px;
}
.orderResult_hr{
	margin: 10px 0px;
	background-color: #888889;
}
.errorTxt{
	margin: 40px 0 10px 0;
}
.iconError{
	width: 38px;
	height: 38px;
	margin-right: 10px;
}
.errorTxt p{
	color: #D70E19;
	font-weight: 500;
}
.errorTxt .col-auto{
	padding: 0;
}

/*失敗區另外css*/
/*
.agreement_failure{
	border: 1px solid #3F3F3F;
}
.orderResult_failure{
	border-top: 3px solid #3F3F3F;
	background-color: #EAEAEA;
}
.TxtCategory_failure{
	background-color: #3F3F3F;
}*/
.orderResult_failure:before{
	content: "";
	background-color: #3F3F3F;
	padding: 3px 10px 5px 10px;
	border-radius: 8px 8px 0 0;
	position: absolute;
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
}
.orderResult_failure{
	background-color: #EAEAEA;
}
.signListTitle_failure{
	background-color: #888889;
}
.agreement_failure{
	border: 1px solid #3F3F3F;
}
/*@media (max-width: 320px){}
