div, label{
  color: #888899;
  font-weight: 500;
}
label{
  font-size: 16px;
}
.form-control{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: #1E1E1E;
    border: none;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 0;
    padding-bottom: 0;
}
.form-control:focus {
  color: #1E1E1E;
  border-color: #BBBBBB;
  outline: 0;
  box-shadow: none;
}
.form-group{
  margin-top: 10px;
  margin-bottom: 5px;
}
h5{
	margin-top: 10px;
	font-size: 18px;
	color: #888889;
	font-weight: 500;
}
.btnConfirm{
	margin-top: 20px;
}
.otpTime{
  line-height: 1.5;
  color: #FF736A;
}
.otpTime img{
  width: 14px;
  margin-right: 5px;
}
.CaptchaImage{
  width: 120px;
  margin-right: 10px;
}
.icon_change{
  width: 16px;
}
