.flex {
  display: flex;
}

.flexTitle {
  flex: 1;
  justify-content: center;
  align-items: center;
}

/*customerInformation 基本資料*/

.customerInformation {
  margin-top: 20px;
  padding-left: 11px;
  font-weight: 500;
}

.customerInformation div {
  padding-top: 1px;
  padding-bottom: 1px;
}

.mb5 {
  margin-bottom: 5px;
}
