<div class="customerInformation totalTransactions" *ngFor="let item of data">
  <div class="flex">
    <div class="flexTitle">訂單編號</div>
    <div class="flexTitle">{{item.orderMainSeq}}</div>
  </div>
  <div class="flex">
    <div class="flexTitle">客戶姓名</div>
    <div class="flexTitle">{{item.custName}}</div>
  </div>
  <div class="flex">
    <div class="flexTitle">身分證字號</div>
    <div class="flexTitle">{{item.custId}}</div>
  </div>
  <div class="flex">
    <div class="flexTitle">客戶風險等級</div>
    <div class="flexTitle">{{item.piwLevel}}</div>
  </div>
  <div class="flex">
    <div class="flexTitle">簡訊發送時間</div>
    <div class="flexTitle">{{item.updateDate}}</div>
  </div>
</div>
