<app-header></app-header>
<div class="wrapper">
  <!-- customerInformation 基本資料 -->

  <div>
    <app-cust-info></app-cust-info>
    <div class="col totalTransactions">總筆數<span>2</span>筆</div>
  </div>

  <!-- orderTitle 明細標題 -->
  <div class="orderAll">
    <!-- 第1個表單start -->
    <div class="orderTitle">
      <div class="flexJCspacebetween">
        <div class="col form-check">
          <input color="warn" type="checkbox" />
          <label></label>
        </div>
        <div class="col-auto TxtCategory">單筆申購<span class="mx-2">|</span>基金</div>
      </div>
    </div>
    <!-- orderContent 明細項目 -->
    <div class="orderContent">
      <div>
        <div>商品代碼 / 名稱</div>
        <div class="tJ">
          (FFA1)富蘭克林坦伯頓全球投資系列-新興國家固定收益基金美元F(美元)(月配息)(本基金進行配息前未先扣除應負擔之相關費用)(本基金有相當比重投資於非投資等級之高風險債券且配息來源可能為本金)
        </div>
      </div>
    </div>
    <!-- 表單end -->

    <!-- 第2個表單(有加中間一條線)start -->
    <!-- orderTitle 明細標題 -->
    <div class="orderTitle">
      <div class="flexJCspacebetween">
        <div class="col form-check">
          <input type="checkbox">
          <label></label>
        </div>
        <div class="col-auto TxtCategory">轉換<span class="mx-2">|</span>基金</div>
      </div>
    </div>

    <!-- orderContent 明細項目 -->
    <div class="orderContent">
      <div>
        <div>轉出商品代碼 / 名稱</div>
        <div class="tJ">(FDB9)富達日本</div>
      </div>
      <hr class="confirmPage_hr">
      <div>
        <div>轉入商品代碼 / 名稱</div>
        <div class="tJ">(FDB8)富達美國基金A</div>
      </div>
    </div>

    <!-- tbdRisk 條約書標題選項 -->
    <div class="tbdRisk">
      <div class="row">
        <div class="col flex tbdTitleAll">
          <div class="tbdTitle1 mr-auto">請閱讀並同意以下內容</div>
          <div class="tbdTitle2">已閱讀</div>
          <div class="tbdTitle3">同意</div>
        </div>
      </div>
      <hr class="tbdTitle_UnderLine">
      <div class="signGroup">
        <div class="flex signList" style="align-items: center;">
          <div class="flex signList_title" onclick="window.open('testPDF/testPDF.pdf')" style="align-items: center;">
            <div style="margin: 5px;">
              <img class="signTriangl" style="height: auto;width: auto;padding-left: 10px;"
                src="assets/images/sign_triangl_Right.png">
            </div>
            <div>客戶投資聲明書-風險逾越</div>
          </div>
          <div class="timeCountdown">
            <div class="CountdownNum"></div>
          </div>
          <div class="form-check align-top signCheckbox signCheck1">
            <input type="checkbox" disabled>
            <label></label>
          </div>
          <div class="form-check align-top signCheckbox signCheck2">
            <input type="checkbox" disabled>
            <label></label>
          </div>
        </div>

        <div class="flex signList" style="align-items: center;">
          <div class="flex signList_title" onclick="window.open('testPDF/testPDF.pdf')" style="align-items: center;">
            <div style="margin: 5px;">
              <img class="signTriangl" style="height: auto;width: auto;padding-left: 10px;"
                src="assets/images/sign_triangl_Right.png">
            </div>
            <div>辦理特定金錢信託投資國內外有價值證券聲明書</div>
          </div>
          <div class="timeCountdown">
            <div class="CountdownNum"></div>
          </div>
          <div class="form-check align-top signCheckbox signCheck1">
            <input type="checkbox" disabled>
            <label></label>
          </div>
          <div class="form-check align-top signCheckbox signCheck2">
            <input type="checkbox" disabled>
            <label></label>
          </div>
        </div>
      </div>
    </div>
    <!-- 表單end -->
  </div>

  <!-- 下單按鈕 -->
  <div class="row btnOrder">
    <div class="col">
        <a routerLink="/error">error</a>

      <a class="btn btn-primary btn-block" role="button" style="width: 100%;" >下單</a>
    </div>
  </div>
</div>
