@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, canvas, figure, figcaption, footer, header, hgroup, menu, nav, output, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "外楷體", "微軟正黑體", "STHeitiTC", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  /* color: #1E1E1E; */
  font-weight: 400;
  line-height: 1.5;
}

@font-face {
  font-family: "外楷體";
  src: url(assets/font/kaiext.ttf);
}

div {
  font-size: 14px;
}

.tJ {
  text-align: justify;
}

.tR {
  text-align: right;
}

.Cff736a {
  color: #FF736A;
}

/*header*/

.header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #888889;
  background-color: #fff;
}

.logo {
  padding: 12px 0;
  text-align: center;
}

.logo img {
  width: 120px;
}

.wrapper {
  padding: 48.5pt 10pt 0 10pt;
  overflow: hidden;
}

/*下單按鈕*/

.btn {
  border-radius: 8px;
}

.btn:hover {
  color: #fff;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  background-color: #BBBBBB;
}

.btn-primary {
  background-color: #D70E19;
  border-color: #D70E19;
}

.btn-primary:hover {
  background-color: #D70E19;
  border-color: #D70E19;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #BBBBBB;
  border-color: #BBBBBB;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  background-color: #D70E19;
  border-color: #D70E19;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

/*取消按鈕*/

.btn-cancel {
  border: 1px solid #D70E19;
  background-color: #fff;
  color: #D70E19;
}

.btn-cancel:hover {
  background-color: #fff;
  border-color: #D70E19;
  color: #D70E19;
}

.btn-cancel:not(:disabled):not(.disabled):active, .btn-cancel:not(:disabled):not(.disabled).active, .show>.btn-cancel.dropdown-toggle {
  background-color: #fff;
  border-color: #D70E19;
  color: #D70E19;
}

/*---------------------alert all---------------------*/

.alert_bgK {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  padding: 0 15px;
}

.alert_BgW .tJ {
  text-align: justify;
}

.alert_BgW {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
}

.btnAlert {
  margin-top: 35px;
  text-align: center;
}

.btnAlert img {
  width: 64px;
}

.alert_BgW div {
  text-align: center;
}

.alert_BgW p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.alertRemaining {
  font-size: 12px;
  margin-top: 3px;
}

.alertRemaining span {
  font-weight: 500;
  color: #D70E19;
  padding: 0 3px;
}

/*OTP only*/

.btnTransaction {
  margin-top: 35px;
  text-align: center;
}

.btnTransaction img {
  width: 70px;
}

.btnAlert_OTPconfirm {
  padding: 0;
  display: flex;
}

.btnAlert_OTPconfirm a {
  width: 49%;
}

.btnClose {
  position: absolute;
  top: 8px;
  right: 8px;
}

.btnClose img {
  width: 30px;
}

.otpAlertTxt p {
  text-align: justify;
}

/*---------------------other all---------------------*/

.urlInvalid div, .orderCancelled div, .loggedOut div {
  text-align: center;
  font-size: 15px;
}

.icon_urlInvalid, .icon_orderCancelled, .icon_loggedOut {
  height: 65px;
  margin: 40px auto 15px auto;
}

.form-control {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  color: #1E1E1E;
  border: none;
  border-bottom: 1px solid #BBBBBB;
  border-radius: 0;
  padding-bottom: 0;
}

.form-control:focus {
  color: #1E1E1E;
  border-color: #BBBBBB;
  outline: 0;
  box-shadow: none;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 5px;
}
